<!-- Not Start Column-->
<div id="nostart" class="nostart">
&nbsp;<br />
<% if(collection.models.length > 0) { %>
    <% collection.each(function(story) { %>
	<% if (story.get("insprint") > 0)  { %>
    <div class="portlet" id="<%=story.id%>">
		<div class="portlet-header"><%= story.escape('title') %></div>
		<div class="portlet-content"><%= story.escape('content') %></div>
	</div>
    <% }
}); %>
    </div>
<% } else { %>
    <div id ="newstory"><h3>No task in sprint</h3></div>
<% } %>