<div class="nostart">
   CONSEGUIDO&nbsp;<br/>
      <div class="portlet">
		<div class="portlet-header">uno B</div>
		<div class="portlet-content">uno b desc</div>
	</div>
      <div class="portlet">
		<div class="portlet-header">dos b</div>
		<div class="portlet-content">dos b desc</div>
	</div>
</div>