<form>
    <label for='title'>Title</label>
    <input name='title' type='text' /> 
    <label for='content'> Content</label>
    <textarea name='content'><%= model.get('content') %></textarea>
    <button><%= model.isNew() ? 'Create' : 'Save' %></button>
</form>