#{extends 'main.html' /}
#{set title:'Your Project Manager Panel' /}

	<div id ="main_container">
			
	</div>
		
<script type="text/template" id="user_area_tmp">
	<div id="currentProject" class="fl nav">	
		<ul class="sub">
			<li>
			<% if(!current_project) { %>
				<h1>Your Projects</h1>
			<% } else { %>
				<h1><%=current_project.get("title")%></h1>
			<% }; %>
				<ul class="v">
					<% collection.each(function(project) { %>
						<li><a href="#project/<%=project.id%>"><%=project.get("title")%></a></li>
					<% }); %>
				</ul>
			</li>
		</ul>

	</div>

	<div id="userPanel" class="fr nav">
		<p>
			welcome, <strong class="substring_12">${user}</strong>
		</p>
		<img id="gravatar" />
		<ul class="sub">
			<li><a href="#">options</a>
				<ul class="v">
					<li><a href="/">your projects</a></li>
					<li><a href="@{Application.logout()}">exit</a></li>
				</ul>
			</li>
		</ul>
	</div>
</script>
	
<script type="text/template" id="sprint_panel">
		<div id="columns" class="backlog_collapsed finished_collapsed">
		
		<% columns.each(function(column) { %>
			<% if(column.get("name") == "backlog" || column.get("name") == "finished" ) { %>
				<a href="javascript:void(0)" id="open_<%=column.get("name")%>_link" title="show <%=column.get("title")%>">
					<span>
						Open <%=column.get("title")%>
					</span>
				</a>
			<% }; %>

			<div id="<%=column.get("name")%>" class="column">
				<div class="wrapper">
					<div class="header">
						<h2><%=column.get("title")%></h2>
						<div class="actions">
							<div class="columnActions">
								<span class="total" id="total_<%=column.get("name")%>"></span>
								<a href="javascript:void(0)" class="filter" title="filter">
									<span>filter</span>
								</a>
								<a href="javascript:void(	0)" class="expand_all" title="expand all">
									<span>expand all</span>
								</a>
								<a href="javascript:void(0)" class="collapse_all" title="collapse all">
									<span>collapse all</span>
								</a>
								<% if(column.get("name") == "backlog"  || column.get("name") == "finished") { %>
									<a href="javascript:void(0)" class="hide hide_<%=column.get("name")%>" title="hide <%=column.get("name")%>">
										<span>hide <%=column.get("title")%></span>
									</a>
								<% }else{ %>
									<div class="filter_panel">
										<strong>Filter</strong>
										<a href="javascript:void(0)" class="close">close</a>
										<a href="javascript:void(0)">sort by person</a>
										<a href="javascript:void(0)">sort by name</a>
										<a href="javascript:void(0)">sort by date</a>
									</div>
								<% }; %>
							</div>
						</div>
					</div>
					
					<% if(column.get("name") == "backlog") { %>
						<div id="newlink"><h3><a href='#project/<%=sprint.get("project").id%>/sprint/<%=sprint.id%>/new_task'>Create New</a></h3></div>
						<div id ="newtask"></div>
						
					<% }; %>
					
					<div id="tasks_<%=column.get("name")%>" class="tasks_wrapper"></div>
				</div>
			</div>

		<% }); %>		
		
		</div>
		
	</script>
		  
	<script type="text/template" id="project">
	<h1>New Project</h1>
<div title="new project">
<form>	
    <label for='title'>Title</label>
    <input name='title' type='text' /> 	
    <button>Create</button>
</form>
</div>
	</script>

	<script type="text/template" id="sprints_collection">
	<!-- Column-->
				<h1>Sprints</h1>
		    <div class="sprints">
	    <% collection.each(function(sprint) { %>
	      <div class="portlet" id="<%=sprint.id%>">
			<div class="portlet-header">
				<label id="sprint_title"><%= sprint.escape('title') %></label>| <a href="#project/<%=sprint.get("project").id%>/sprint/<%=sprint.id%>" >see panel</a>
				<button class="delete_sprint" id="<%=sprint.id%>">delete</button>&nbsp;
			</div>
		  </div>
		<% }); %>
	    </div>
	</script>
	
<script type="text/template" id="projects_collection">
<!-- Column-->
		<h1>Your Projects</h1>                
		<div id="new_project_link"><h3><a href='#new'>Create New</a></h3></div>
	    <div class="projects">
    <% collection.each(function(project) { %>
      <div class="portlet" id="<%=project.id%>">
		<div class="portlet-header">
			<label id="project_title"><%= project.escape('title') %></label> | <a href="#project/<%=project.id%>" >see more</a> | <a href="#invite/<%=project.id%>">Invite to project</a>
			<button class="delete_project" id="<%=project.id%>">delete</button>&nbsp;
		</div>
		<div id="invite_form_div">
		</div>
	  </div>
	<% }); %>
    </div>
</script>

<script type="text/template" id="invite_form">
<form>	
    <label for='email'>Colaborator email</label>
    <input name='email' type='text' /> 	
	<input name='project_id' type='hidden' value="<%=model.id%>"/> 
    <button> Send invitation </button>
</form>
</script>

	<script type="text/template" id="task">
<div id="dialog" title="new task">
<form>
	
    <label for='title'>Title</label>
    <input name='title' type='text' /> 
    <label for='content'> Content</label>
    <textarea name='content'><%= model.get('content') %></textarea>
    <laber for='estimate'>Estimate</laber>
     <select name='estimate'>
		<option value="0">select</option>
        <option value="1">1</option>
        <option value="3">3</option>
        <option value="5">5</option>
        <option value="8">8</option>
        <option value="16">16</option>
     </select>
<% if(!model.isNew()) { %>
	<laber for='left'>Left</laber>
     <select name='left'>
		<option value="">select</option>
        <option value="1">1</option>
        <option value="3">3</option>
        <option value="5">5</option>
        <option value="8">8</option>
        <option value="16">16</option>
     </select>
<% }; %>	
    <button><%= model.isNew() ? 'Create' : 'Save' %></button>
</form>
</div>
	</script>

<script type="text/template" id="tasks_collection">
<!-- Column-->
	<ul class="tasks">
    <% collection.each(function(task) { %>
		<li class="task <%= task.get('color') %> expanded <% if(task.get('blocked')) { %> blocked	<% }; %>" id="<%=task.id%>">
			<div class="title">
				<h3>
					<a href="javascript:void(0)" class="expand_task" rel="Mostrar|Ocultar">expand</a>
					<div class="">
						<strong class="data" ><%= task.escape('title') %></strong>
						<input type="text" name="title" class="field" value="Very long Task name that dosen't fit in a single line">
					</div>
				</h3>
				<div class="title_info">
					<% if(!task.get('user')) { %>
							<span title="no_user" class="no_gravatar"></span>
					<% }else{ %>
							<span title="<%= task.get('user') %>" >
								<img title="<%= task.get('user') %>" src="<%= task.get('gravatar') %>"/>
							</span>
					<% }; %>
					
					<span class="task_color"></span>
					<span class="drag">drag</span>
				</div>
			</div>
			<div class="detail">
				<div class="description">
					<p class="data">
					<%= task.escape('content') %>
					</p>
					<textarea type="text" class="field" value="" name="content"><%= task.escape('content') %> 
					</textarea>
				</div>
					
				<div class="task_actions">
					<p class="person">
						<% if(!task.get('user')) { %>
								<span title="no_user" class="no_gravatar"></span>
						<% }else{ %>
								<span class="data" title="<%= task.get('user') %>" >
									<img title="<%= task.get('user') %>" src="<%= task.get('gravatar') %>" width="17"/>
									<strong class="substring_7"><%= task.get('user') %></strong>
								</span>
						<% }; %>

						<select class="field"  name="user">
							<option value="jaime">pablopr@gmail.com</option>
							<option value="jaime">pablopr@gmail.com</option>
						</select>
					</p>
					<div class="percentage">
						<div class="data">
							<div class="total">
								<div class="complete" style="width:25%">25%</div>
							</div>
						</div>
						<div class="field_group">
							<input class="field left_time" value="<%= task.get('left') %>"/>
							<span> of </span>
							<input class="field estimated_time" value="<%= task.get('estimate') %>"/>
						</div>
					</div>
					<div class="actions">
						<a href="javascript:void(0)" class="edit_task" alt="edit task" >edit</a>
						<a href="javascript:void(0)" class="pick_color" alt="pick color to task">pick_color</a>	
						<div style="display:none" class='picker_panel subPanel'><strong>Color</strong>
							<a href='javascript:void(0)' class='close'>close</a>
						  	<a href='javascript:void(0)' class='color1' id="<%=task.id%>"></a>
							<a href='javascript:void(0)' class='color2' id="<%=task.id%>"></a>
							<a href='javascript:void(0)' class='color3' id="<%=task.id%>"></a>
							<a href='javascript:void(0)' class='color4' id="<%=task.id%>"></a>
							<a href='javascript:void(0)' class='color5' id="<%=task.id%>"></a>
						</div>
						<a href="javascript:void(0)" class="block_task" alt="block task"  id="<%=task.id%>">block</a>
						<a href="javascript:void(0)" class="delete_task" alt="delete task" id="<%=task.id%>">delete</a>
					</div>
					<div class="editing_actions">
						<a class="bt save_task" href="javascript:void(0)" title="save changes">
							<span>save</span>
						</a>
						<a class="bt cancel_save_task" href="javascript:void(0)" title="cancel changes">
							<span>cancel</span>
						</a>
					</div>
				</div>
				<!-- NO TAGS IN FIRST RELEASE
				<div class="tags">
					<em>tags:</em>
					<span>tag num 1</span>
					<span>tag n 2</span>
					<span>tag 3</span>
					<span>tag 4</span>
					<span>tag 5</span>
					<a href="javascript:void(0)" class="add_tag">add tag</a>
				</div>
				 --!>
			</div>
		</li>
		<% }); %>
		</ul>
</script>
<script type="text/javascript">
	$(function() {
		Varavig.init();
	});
</script>