#{extends 'main.html' /}
#{set title:'Your Project Manager Panel' /}

   	
	<div class="container fix">
	
			<div id ="main_container">
			
			</div>
		
	</div>
	<div class="push"></div>
	
<script type="text/template" id="sprint_panel">
		<a id="collapseBacklog"  class="collapsed fr"   href="javascript:void(0)">
			<span id="sidebar"></span>
		</a>
	
		<div id="backlog" class="column" style="display:none;">
			<div class="wrap first">
			Product Backlog
                <div id="newlink"><h3><a href='#project/<%=sprint.get("project").id%>/sprint/<%=sprint.id%>/new_task'>Create New</a></h3></div>
				<div id ="newtask"></div>
								
				<div id ="items" class="scrollable">
				</div>
			</div>
		</div>
		
		<div id="not_started" class="column">
			<div class="wrap first">
				NOT STARTED ITEMS
            <div id="items_nostart" class="scrollable"></div>
			</div>

		</div>
		<div id="started" class="column">
			<div class="wrap">
				STARTED ITEMS
                <div id="items_started" class="scrollable"></div>
			</div>
		</div>
		<div id="finished" class="column">
			<div class="wrap">
				FINISHED ITEMS
				<div id="items_finished" class="scrollable"></div>
			</div>
		</div>
		
	
	</script>
		  
	<script type="text/template" id="project">
	<h1>New Project</h1>
<div title="new project">
<form>	
    <label for='title'>Title</label>
    <input name='title' type='text' /> 	
    <button>Create</button>
</form>
</div>
	</script>

	<script type="text/template" id="sprints_collection">
	<!-- Column-->
				<h1>Sprints</h1>
		    <div class="sprints">
	    <% collection.each(function(sprint) { %>
	      <div class="portlet" id="<%=sprint.id%>">
			<div class="portlet-header">
				<label id="sprint_title"><%= sprint.escape('title') %></label>| <a href="#project/<%=sprint.get("project").id%>/sprint/<%=sprint.id%>" >see panel</a>
				<button class="delete_sprint" id="<%=sprint.id%>">delete</button>&nbsp;
			</div>
		  </div>
		<% }); %>
	    </div>
	</script>
	
<script type="text/template" id="projects_collection">
<!-- Column-->
		<h1>Your Projects</h1>                
		<div id="new_project_link"><h3><a href='#new'>Create New</a></h3></div>
	    <div class="projects">
    <% collection.each(function(project) { %>
      <div class="portlet" id="<%=project.id%>">
		<div class="portlet-header">
			<label id="project_title"><%= project.escape('title') %></label> | <a href="#project/<%=project.id%>" >see more</a> | <a href="#invite/<%=project.id%>">Invite to project</a>
			<button class="delete_project" id="<%=project.id%>">delete</button>&nbsp;
		</div>
		<div id="invite_form_div">
		</div>
	  </div>
	<% }); %>
    </div>
</script>

<script type="text/template" id="invite_form">
<form>	
    <label for='email'>Colaborator email</label>
    <input name='email' type='text' /> 	
	<input name='project_id' type='hidden' value="<%=model.id%>"/> 
    <button type="hidden"> Send </button>
	<a href="#" class="send_invitation" >Send Invitation</a>
</form
</script>

	<script type="text/template" id="task">
<div id="dialog" title="new task">
<form>
	
    <label for='title'>Title</label>
    <input name='title' type='text' /> 
    <label for='content'> Content</label>
    <textarea name='content'><%= model.get('content') %></textarea>
    <laber for='estimate'>Estimate</laber>
     <select name='estimate'>
		<option value="0">select</option>
        <option value="1">1</option>
        <option value="3">3</option>
        <option value="5">5</option>
        <option value="8">8</option>
        <option value="16">16</option>
     </select>
<% if(!model.isNew()) { %>
	<laber for='left'>Left</laber>
     <select name='left'>
		<option value="">select</option>
        <option value="1">1</option>
        <option value="3">3</option>
        <option value="5">5</option>
        <option value="8">8</option>
        <option value="16">16</option>
     </select>
<% }; %>	
    <button><%= model.isNew() ? 'Create' : 'Save' %></button>
</form>
</div>
	</script>

<script type="text/template" id="tasks_collection">
<!-- Column-->
	<div class="total">TOTAL:<%= total %></div>
	    <div class="subcolumn sortable_tasks">
		&nbsp;
    <% collection.each(function(task) { %>
      <div class="portlet" id="<%=task.id%>">
		
		<div class="portlet-header">
			<img class="gravatar" src="<%= task.get('gravatar') %>"></img>
			<label id="title"><%= task.escape('title') %></label>
		</div>
		<div class="portlet-content">
		  <p id="content"><%= task.escape('content') %></p>
		  <div class="estimated">Estimated: <label id="estimate"><%= task.get('estimate') %></label></div>
		  <div class="left">Left:  <label id="left"><%= task.get('left') %></label></div>
		  <div class="assigned" id="user"><%= task.get('user') %></div>
		  <div class="toolbar">
		    <button class="delete_task" id="<%=task.id%>">delete</button>&nbsp;
			<button class="block_task" id="<%=task.id%>">
				<% if(!task.get('blocked')) { %>
					block
				<% }else{ %>
					unblock
				<% }; %>
			</button>&nbsp;
		   </div>
		</div>
	  </div>
	<% }); %>
    </div>
</script>
<script type="text/javascript">
	$(function() {
		Varavig.init();
	});
</script>