<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>#{get 'title' /}</title>		
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
            <link href="@{'/public/stylesheets/varavig.css'}" media="all" rel="stylesheet" type="text/css"/>
            <link href="@{'/public/stylesheets/jquery-ui-1.8.7.custom.css'}" media="all" rel="stylesheet" type="text/css"/>
            
		    <script src="@{'/public/javascripts/pack/json2.js'}"></script>
		    <script src="@{'/public/javascripts/pack/jquery-1.4.4.min.js'}"></script>
		    <script src="@{'/public/javascripts/pack/jquery-ui-1.8.9.custom.min.js'}"></script>
		    <script src="@{'/public/javascripts/pack/jquery-gravatar.js'}"></script>
		    <script src="@{'/public/javascripts/pack/jquery-md5.js'}"></script>
		    <script src="@{'/public/javascripts/pack/underscore-1.1.4.js'}"></script>
		    <script src="@{'/public/javascripts/pack/backbone.js'}"></script>
		    <script src="@{'/public/javascripts/application.js'}"></script>
		    <script src="@{'/public/javascripts/models/story.js'}"></script>
		    <script src="@{'/public/javascripts/models/task.js'}"></script>
		    <script src="@{'/public/javascripts/models/user.js'}"></script>
		    <script src="@{'/public/javascripts/views/abstractPanelView.js'}"></script>
		    <script src="@{'/public/javascripts/views/backlogView.js'}"></script>
		    <script src="@{'/public/javascripts/views/editTask.js'}"></script>
		    <script src="@{'/public/javascripts/views/notstartedView.js'}"></script>
		    <script src="@{'/public/javascripts/views/startedView.js'}"></script>
		    <script src="@{'/public/javascripts/views/finishedView.js'}"></script>
		    
		   
		    <script src="@{'/public/javascripts/controllers/backlogCtrl.js'}"></script>
		    <script src="@{'/public/javascripts/collections/tasks.js'}"></script>
		    <script src="@{'/public/javascripts/collections/users.js'}"></script>

    </head>
    <body>
        
        #{if user}
            <div id="user">
                You're logged as  <img id="gravatar"></img> ${user}, <a href="@{Application.logout()}">Logout</a>
            </div>
        #{/if}
        
        #{if flash.error}
            <p class="error">${flash.error}</p>
        #{/if}
        #{if flash.success}
            <p class="success">${flash.success}</p>
        #{/if}
        
        <div id="main">
            	#{doLayout /} 
        </div>
        
       
    </body>
</html>


