<!DOCTYPE html>
<html>
<head>
  <title>Varavig</title>
  <%= include_stylesheets :app, :media => 'all' %>
  <%= include_javascripts :app %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
